/*
  Custom Properties
*/
:root {
    --clr-light: hsl(0, 0%, 100%); /* White */
    --clr-gray: hsl(212, 45%, 89%); /* Light gray */
    --clr-accent: hsl(220, 15%, 55%); /* Grayish blue */
    --clr-dark: hsl(218, 44%, 22%); /* Dark blue */
    --clr-hover: hsl(228, 45%, 44%); /* Dark blue hover */

    --ff-primary: 'Outfit', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;

    --fs-h1: 1.25rem;
    --fs-p: 0.938rem; /* 15px */
}

/*
  1. Use a more-intuitive box-sizing model
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Improve media defaults
*/
img, picture, svg, canvas, video {
    display: block;
    max-width: 100%;
}
/*
  3. Remove built-in form typography styles
*/
input, textarea, button, select {
    font: inherit;
}


/* Typography */

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}


/* General styles */

body {
    background: var(--clr-gray);
    text-indent: 5px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* QR code component */

.component {
    background: var(--clr-light);
    padding: 1em;
    height: 475px;
    width: 310px;
    margin: 0 auto;
    border-radius: 20px;
}

.component__img {
    border-radius: 10px;
}

.component__text {
    font-family: var(--ff-primary);
    padding: inherit;
    text-align: center;
}

.component__title {
    color: var(--clr-dark);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
}

.component__description {
    color: var(--clr-accent);
    font-size: var(--fs-p);
    font-weight: var(--fw-regular);
}


/* Footer */

.footer {
    font-size: 0.688rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1rem;
}

.footer__link {
    color: var(--clr-hover);
}