/* 
  Custom Properties
*/
:root {
    --clr-primary-400: hsl(259, 100%, 65%);
    --clr-primary-600: hsl(259, 26%, 47%);
    --clr-secondary-400: hsl(0, 100%, 67%);
    --clr-secondary-401: hsl(147, 100%, 35%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 94%);
    --clr-neutral-300: hsl(0, 0%, 86%);
    --clr-neutral-500: hsl(0, 1%, 44%);
    --clr-neutral-900: hsl(0, 0%, 8%);

    --ff-primary: 'Poppins', sans-serif;

    --fs-inputs: 2rem;  /* 32px */

    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;
}

/*
  1. Use a more-intuitive box-sizing model
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
    margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
    height: 100%;
}
/*
  Typography tweaks
  4. Add accessible line-height 
  5. Improve text rendering 
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, svg, canvas, video {
    display: block;
    max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, textarea, button, select {
    font: inherit;
}
/*
  8. Avoid text overflows
*/
h1, h2, h3, h4, h5, h6, p {
    overflow-wrap: break-word;
}

h1, h2, h3 {
    line-height: 1;
}


/* General styling */

body {
    --b-align-items: none;
    --b-padding-top: 5.5rem;

    background-color: var(--clr-neutral-200);
    font-family: var(--ff-primary);
    display: flex;
    align-items: var(--b-align-items);
    justify-content: center;
    padding-top: var(--b-padding-top);
}


/* Utilities */

/* Hides the element visually */
.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Centers element with absolute position */
.absolute-center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}


/* Calculator styles */

.age-calculator {
    --ac-height: 486px;
    --ac-width: 343px;
    --ac-padding: 1rem 1.5rem;
    --ac-border-radius: 1.438rem 1.438rem 6.188rem;

    background-color: var(--clr-neutral-100);
    border-radius: var(--ac-border-radius);
    height: var(--ac-height);
    width: var(--ac-width);
    padding: var(--ac-padding);
}

.form__content {
    --fc-margin-top: 1.9rem;
    --fc-margin-bottom: 1rem;
    --fc-max-width: 300px;

    display: flex;
    justify-content: space-between;
    margin-top: var(--fc-margin-top);
    margin-bottom: var(--fc-margin-bottom);
    max-width: var(--fc-max-width);
}

.form__field {
    --ff-height: 96px;
    --ff-width: 88px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--ff-height);
    width: var(--ff-width);
}

label {
    --l-font-size: 0.75rem;

    color: var(--clr-neutral-500);
    font-size: var(--l-font-size);
    letter-spacing: 3px;
    text-transform: uppercase;
}

input {
    --i-font-size: 1.25rem;
    --i-text-indent: 0.875rem;
    --i-height: 54px;

    border: 1px solid var(--clr-neutral-300);
    border-radius: 0.3rem;
    caret-color: var(--clr-primary-600);
    text-indent: var(--i-text-indent);
    font-size: var(--i-font-size);
    height: var(--i-height);
    width: 100%;
}

input:focus {
    outline: none;
    border-color: var(--clr-primary-600);
}

input:hover {
    cursor: pointer;
}

.field__validation {
    --fv-font-size: 0.5rem;

    font-size: var(--fv-font-size);
    font-style: italic;
    height: calc(var(--fv-font-size) * 2);
}

.invalid {
    color: var(--clr-secondary-400);
}

.valid {
    color: var(--clr-secondary-401);
}

.default {
    color: var(--clr-neutral-500);
}

.form__submit {
    --fs-margin-top: 2.5rem;
    --fs-margin-bottom: 3.875rem;
    --fs-max-width: 343px;

    position: relative;
    margin-top: var(--fs-margin-top);
    margin-bottom: var(--fs-margin-bottom);
    height: 10px;
    max-width: var(--fs-max-width);
}

.line__solid {
    background: var(--clr-neutral-200);
    height: 2px;
}

#submit-button {
    --sb-left: 0;
    --sb-height: 64px;
    --sb-width: 64px;

    background-color: var(--clr-primary-400);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: var(--sb-height);
    width: var(--sb-width);
    left: var(--sb-left);
}

#submit-button:hover {
    background-color: var(--clr-neutral-900);
}

#submit-button img {
    height: 50%;
    width: 100%;
}

.form__result {
    --fr-font-size: 3.375rem;

    margin-top: 2.25rem;
    line-height: 1.075;
    font-size: var(--fr-font-size);
    font-style: italic;
    font-weight: var(--fw-extra-bold);
}

span {
    color: var(--clr-primary-400);
}


/* Footer */

footer {
    --f-font-size: 0.6rem;
    --f-height: 20px;

    font-size: var(--f-font-size);
    font-weight: var(--fw-regular);
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: var(--f-height);
    width: 100%;
}

footer a {
    color: var(--clr-primary-400);
    text-decoration: none;
}

footer a:hover {
    color: var(--clr-secondary-400);
}


/* Media Queries */

@media (max-width: 365px) {
    .age-calculator {
        --ac-width: 310px;
    }
    
    .form__field {
        --ff-width: 82px;
    }

    input {
        --i-text-indent: 0.5rem;
    }

    .form__result {
        --fr-font-size: 3rem;
    }
}

@media (min-width: 900px) {
    body {
        --b-align-items: center;
        --b-padding-top: 3.875em;
    }

    .age-calculator {
        --ac-border-radius: 1.438rem 1.438rem 12.5rem;
        --ac-height: 680px;
        --ac-width: 840px;
        --ac-padding: 1.625rem 3.5rem;
    }

    .form__content {
        --fc-margin-top: 1.75rem;
        --fc-max-width: 545px;
    }

    .form__field {
        --ff-height: 138px;
        --ff-width: 160px;
    }

    label {
        --l-font-size: 0.875rem;
    }
    
    input {
        --i-text-indent: 1.313rem;
        --i-font-size: 2rem;
        --i-height: 72px;
    }

    .field__validation {
        --fv-font-size: 0.875rem;
    }

    .form__submit {
        --fs-margin-top: 2.375rem;
        --fs-margin-bottom: 2.625rem;
        --fs-max-width: 100%;
    }

    #submit-button {
        --sb-left: 1;
        --sb-height: 96px;
        --sb-width: 96px;
    }

    .form__result {
        --fr-font-size: 6.5rem;
    }

    footer {
        --f-font-size: 1rem;
        --f-height: 30px;
    }
}
