*, *::before, *::after {
    box-sizing: border-box;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}


/* Custom Properties */

:root {
    --ff-primary: 'Outfit', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    --ff-tertiary: 'Roboto Serif', serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;

    --clr-soft-blue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    --clr-vd-blue-main: hsl(217, 54%, 11%); /* Very dark blue (main BG) */
    --clr-vd-blue-card: hsl(216, 50%, 16%); /* Very dark blue (card BG) */
    --clr-vd-blue-line: hsl(215, 32%, 27%); /* Very dark blue (line) */
    --clr-white: hsl(0, 0%, 100%);

    --fs-h1: 43px;
    --fs-h2: 32px;
    --fs-h3: 24px;
    --fs-body: 18px;
    --fs-footer: 12px;
}


/* General styles */

body {
    background: var(--clr-vd-blue-main);
    color: var(--clr-soft-blue);
    font-family: var(--ff-primary);
}

a {
    color: var(--clr-white);
    text-decoration: none;
}

a:hover {
    color: var(--clr-cyan);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inline--sb {
    display: flex;
    justify-content: space-between;
}

.inline--s {
    display: flex;
    justify-content: start;
}


/* Typography */

h1, h2, h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }


/* NFT preview card component */

.component {
    background: var(--clr-vd-blue-card);
    border-radius: 12.5px;
    padding: 1.5em;
    height: 595px;
    width: 350px;
}

.component__img {
    transition: 
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

.component__img:hover {
    transition: opacity 250ms linear;
    opacity: 0.5;
}

.the__img {
    border-radius: 7.5px;
}

.component__title {
    color: var(--clr-white);
    font-weight: var(--fw-regular);
    margin-top: 20px;
}

.component__description {
    font-weight: var(--fw-light);
}

.price_and_time {
    padding: 0.75em 0;
}

.price__description {
    color: var(--clr-cyan);
    font-weight: var(--fw-semibold);
}

.component__price,
.component__time {
    align-items: center;
}

.price__img,
.time__img {
    margin-right: 5px;
}

.price__description,
.time__description,
.creator__description {
    margin: auto 0;
}

.hr__solid {
    border: solid 1px var(--clr-vd-blue-line);
    margin: 15px 0;
}

.creator__img {
    border: solid 1px var(--clr-white);
    border-radius: 50%;
    margin-right: 15px;
    height: 35px;
    width: 35px;
}


/* footer */

.footer {
    font-size: var(--fs-footer);
    font-weight: var(--fw-light);
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1.25rem;
    width: 100%;
}