*, *::before, *::after {
    box-sizing: border-box;
}

* { margin: 0; }

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}


/* Custom Properties */

:root {
    --ff-primary: 'Outfit', sans-serif;
    --ff-secondary: 'Roboto', sans-serif;
    --ff-tertiary: 'Roboto Serif', serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-semibold: 600;

    --clr-soft-blue: hsl(215, 51%, 70%);
    --clr-cyan: hsl(178, 100%, 50%);
    --clr-main-bg: hsl(217, 54%, 11%);
    --clr-card-bg: hsl(216, 50%, 16%);
    --clr-line: hsl(215, 32%, 27%);
    --clr-white: hsl(0, 0%, 100%);

    --fs-h1: 38px;
    --fs-h2: 28px;
    --fs-h3: 21px;
    --fs-p: 18px;
    --fs-footer: 12px;
}


/* General styles */

body {
    background: var(--clr-main-bg);
    color: var(--clr-soft-blue);
    font-family: var(--ff-primary);
}

a {
    color: var(--clr-white);
    text-decoration: none;
}

a:hover {
    color: var(--clr-cyan);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inline {
    display: flex;
    align-items: center; /* ? */
    justify-content: space-between;
    padding: 25px 0; /* ? */
}

/* Typography */

h1, h2, h3 {
    line-height: 1;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }
p  { font-size: var(--fs-p);  }


/* NFT preview card component */

.component {
    background: var(--clr-card-bg);
    border-radius: 15px;
    padding: 1.5em;
    height: 595px;
    width: 350px;
}

.component__img {
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

.container__overlay {
    background: hsla(178, 100%, 50%, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.img__overlay {
    width: 50px;
}

.component__img:hover .container__overlay {
    display: block;
}

.img__main,
.img__main:hover,
.img__overlay {
    transition: opacity 250ms linear;
}

.component__title {
    color: var(--clr-white);
    font-weight: var(--fw-semibold);
    /* display: inline-block; */
    padding: 20px 0;
}

.component__description {
    font-weight: var(--fw-light); /* or reg? */
    line-height: 1.4;
}

.component__price,
.component__time,
.component__creator {
    display: flex;
    align-items: center;
}

.price__description {
    color: var(--clr-cyan);
    font-weight: var(--fw-semibold);
}

.price__img,
.time__img {
    margin-right: 5px; /* or 7px? */
}

.line__solid {
    border-bottom: 1px solid var(--clr-line);
    margin-bottom: 13px;
}

.creator__img {
    border: 2px solid var(--clr-white);
    border-radius: 50%;
    margin-right: 15px;
    height: 30px; /* or 33px? */
    width: 30px; /* or 33px? */
}

.creator__description {
    font-size: 16px;
}

.creator__link {
    font-weight: var(--fw-semibold);
}


/* footer (need to review) */

.footer {
    font-size: var(--fs-footer);
    font-weight: var(--fw-light);
    text-align: center;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1.25rem;
    width: 100%;
}